# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env

# Logs and temporary files
*.log
*.tmp

# IDE-specific files
.vscode/
.idea/
.ruff_cache/

# System files
.DS_Store
Thumbs.db
convert_to_json.sh

# Output Files
output/
vector_db/
experiment_results/
reports/
nohup.out

#config files
config.cfg
experiment_cache/model_cache.json
